.home {
  background-image: url('../../public/main-page-background.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.logo {
  /* border: 2px solid red;
  margin: 0px 30px;
  padding: 0px; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0px 30px; */
  border: 2px solid red;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Norwester;
  color: white;
  
}

.menu p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* @keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
} */
